body{
  font-family: $primaryFont;
  background-color: $bgColor;
  overflow: hidden;
}

//******** Remove all li styles
li{
  list-style-type: none;
}

//******** Don't know why but the system is applying a padding to all UL's
ul{
  padding: 0;
}