body{
  background-color: $bgColor;
  display: flex;
  font-family: $primaryFont;
  font-size: $fontSize;
  justify-content: center;
  //overflow: hidden;
}

//******** Style for all main titles (Home, About, etc)
.mainTitle{
  color: $greenLight;
  font-size: 4rem;
  margin: 50px 0 25px;
  text-align: center;
}

.secTitle{
  color: $greenLight;
}

//******** Style for all common text
.commonText{
  font-family: $secondaryFont;
}

