@import 'reset';
@import 'vars';
@import 'base';
@import 'mixins';

// **********************************
// ********* General Styles *********
// **********************************

//******** Style the nav itens
.navIcon{
  fill: $greyLight;
  height: 2.5rem;
  padding: 20% 0;
  width: 2.5rem;
  &:hover{
    fill: $greenLight;
  }
}

//******** Color the selected nav item
.active--exact svg{
  fill: $greenLight !important;
  color: red;
}

.mainTitle{
  text-align: center;
  color: $greenLight;
  font-size: 4rem;
  margin-top: 50px;
}

// ********************************************
// ********* Media Queries Aplication *********
// ********************************************

@include for-size(phone-only){
  //******** Remove menu and social navs
  #nav-right, #nav-left{
    display: none;
  }
}

//******** Remove burger menu
@include for-size(tablet-portrait){
  .burger{
    display: none;
  }
}