@import 'vars';
@import 'reset';
@import 'base';
@import 'mixins';

// **********************************
// ********* General Styles *********
// **********************************

//******** Style the nav itens
.navLi{
  text-align: center;

  .navIcon{
    fill: $greyLight;
    height: 2.5rem;
    padding: 20% 0;
    width: 2.5rem;
  }

  .textNav {
    font-size: 0.8rem;
    opacity: 0;
    position: absolute;
  }

  .navIcon, .textNav{
    transition: opacity 0.5s ease-in-out;
  }

  &:hover{
    .navIcon{
      opacity: 0;
    }

    .textNav{
      opacity: 1;
    }
  }


  .navMenu1{
    top: 40px;
  }

  .navMenu2{
    top: 95px;
  }

  .navMenu3{
    right: -7.5px;
    top: 161px;
  }

  .navMenu4{
    right: -5px;
    top: 214px;
  }

  .navMenu5{
    right: -8px;
    top: 103px;
  }

  .navMenu6{
    right: -3.5px;
    top: 158px;
  }

  //******** Color the selected nav item
  .active--exact{
    color: $greenLight !important;

    .navIcon{
      opacity: 0;
    }

    .textNav{
      color: $greenLight;
      opacity: 1;
    }

  }

  .active--exact > svg{
    fill: $greenLight !important;
  }

}


// ********************************************
// ********* Media Queries Aplication *********
// ********************************************

//******** Phone only
@include for-size(phone-only){
  //******** Remove menu and social navs
  #nav-right, #nav-left{
    display: none;
  }

  .commonText{
    font-size: 1rem;
  }

  .contactForm{
    align-items: center;
    flex-direction: column;
  }
}

//******** Tablet Portrait
@include for-size(tablet-portrait){
  //******** Remove menu and social navs
  #nav-right, #nav-left{
    display: none;
  }

  .contactForm{
    flex-direction: column;
    margin: 10% 13%;
  }
}

//******** Tablet Landscape
@include for-size(tablet-landscape){
  .mainTitle{
    margin: 15px 0 12px;
  }

  .burger{
    display: none;
  }

  #nav-right, #nav-left{
    display: block;
  }

  .commonText{
    font-size: 1.2rem;
  }

  .contactForm{

    p{
      margin: 2%;
      padding: 0 5rem;
    }

    .cform {
      font-size: 1rem;
      form{
        ::placeholder{
          font-size: 0.9rem !important;
        }
        textarea{
          height: 10rem !important; 
        }
      }
      
    }
  }
}

//******** Desktop
@include for-size(desktop){
  //******** Display change of contact form
  .contactForm{
    flex-direction: row;
    height: 60vh;
    margin: 10% 15%;

    p{
      padding: 0 2rem;
    }

    .cform {
      font-size: 1rem;
      form{
        ::placeholder{
          font-size: 0.9rem !important;
        }
        textarea{
          height: 8rem !important;
        }
      }
      
    }
  }
}

//******** Big Desktop
@include for-size(big-desktop){
  .contactForm{
    flex-direction: row;
    p{
      padding: 0 6rem;
    }
  }
}