@import 'vars';
@import 'reset';
@import 'base';
@import 'mixins';
@import 'navItens';

// **********************************
// ********* General Styles *********
// **********************************



// ********************************************
// ********* Media Queries Aplication *********
// ********************************************

//******** Phone only
@include for-size(phone-only){
  //******** Remove menu and social navs
  #nav-right, #nav-left{
    display: none;
  }

  h2{
    margin-top: 5%;
  }

  .commonText{
    font-size: 1rem;
  }

  .contactForm{
    align-items: center;
    flex-direction: column;
  }

  .eachCard {
    margin-bottom: 40px;
  }
}

//******** Tablet Portrait
@include for-size(tablet-portrait){
  //******** Remove menu and social navs
  #nav-right, #nav-left{
    display: none;
  }

  .contactForm{
    flex-direction: column;
    margin: 10% 13%;
  }
}

//******** Tablet Landscape
@include for-size(tablet-landscape){
  .mainTitle{
    margin: 15px 0 12px;
  }

  .burger{
    display: none;
  }

  #nav-right, #nav-left{
    display: block;
  }

  .commonText{
    font-size: 1.2rem;
  }

  .contactForm{

    p{
      margin: 2%;
      padding: 0 5rem;
    }

    .cform {
      font-size: 1rem;
      form{
        ::placeholder{
          font-size: 0.9rem !important;
        }
        textarea{
          height: 10rem !important; 
        }
      }
      
    }
  }
}

//******** Desktop
@include for-size(desktop){
  //******** Display change of contact form
  .contactForm{
    flex-direction: row;
    height: 60vh;
    margin: 10% 15%;

    p{
      padding: 0 2rem;
    }

    .cform {
      font-size: 1rem;
      form{
        ::placeholder{
          font-size: 0.9rem !important;
        }
        textarea{
          height: 8rem !important;
        }
      }
      
    }
  }
}

//******** Big Desktop
@include for-size(big-desktop){
  .contactForm{
    flex-direction: row;
    p{
      padding: 0 6rem;
    }
  }
}